<%- include('./partials/header', { title: 'Movie Rental App' })  %>

  <h1>Movie Rental App</h1>
  <a href="/movies" class="btn btn-outline-primary">View Movies</a>

<%- include('./partials/footer')  %>
