<%- include('./partials/header', { title: 'Movie Rental App', session })  %>


  <div class="jumbotron text-center">
    <h1 class="display-4">Movie Rental App</h1>
    <p class="lead">Rent all your favourites movies in single place.</p>
    <hr class="my-4">
    <a href="/movies" class="btn btn-lg btn-primary">View Movies</a>
  </div>

<%- include('./partials/footer')  %>
