<%- include('../partials/header', { title: 'Register Success' }) %>

<div class="container py-4">
  <div class="row justify-content-md-center">
    <div class="col-6">
      <h1 class="mb-5">Register Success</h1>
      <p>Please login <a href="/users/login" class="btn btn-primary">Login</a></p>
    </div>
  </div>
</div>

<%- include('../partials/footer') %>
